name: "GPIO MQTT"
description: "Gate to GPIO module with MQTT"
version: "1.0.5"
slug: "gpio_mqtt"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
options:
  mqtt_port: 1884
  mqtt_host: "localhost"
  mqtt_user:
    clientId: "gpio_mqtt"
    username: ""
    password: ""
  log_level: "warning"
schema:
  mqtt_host: "str"
  mqtt_port: "int"
  mqtt_user:
    "clientId": "str"
    "username": "str"
    "password": "password"
  log_level: "list(trace|debug|info|notice|warning|error|fatal|panic)?"

