name: "GPIO MQTT"
description: "Gate to GPIO module with MQTT"
version: "1.0.47"
slug: "gpio_mqtt"
init: false
ingress: true
arch:
  - amd64
services:
  - "mqtt:need"
options:
  MqttPort: 1883
  MqttPortWsSsl: 8884
  MqttClientId: "gpio_mqtt"
  LogLevel: "warning"
schema:
  MqttPort: "int"
  MqttPortWsSsl: "int"
  MqttClientId: "str"
  LogLevel: "list(trace|debug|info|notice|warning|error|fatal|panic)?"

