name: "GPIO MQTT"
description: "Gate to GPIO module with MQTT"
version: "1.0.16"
slug: "gpio_mqtt"
init: false
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
options:
  MqttPort: 1883
  MqttHost: "localhost"
  MqttClientId: "gpio_mqtt"
  MqttUsername: ""
  MqttPassword: ""
  LogLevel: "warning"
schema:
  MqttPort: "int"
  MqttHost: "str"
  MqttClientId: "str"
  MqttUsername: "str"
  MqttPassword: "password"
  LogLevel: "list(trace|debug|info|notice|warning|error|fatal|panic)?"

